# MeroShare Automation Credentials
MEROSHARE_DP_ID=
MEROSHARE_USERNAME=
MEROSHARE_PASSWORD=

# SMTP Email Configuration (e.g. Brevo)
SMTP_USER=
SMTP_PASSWORD=

# Django Configuration
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
REDIS_LOCATION=redis://127.0.0.1:6389/1
CELERY_BROKER_URL=redis://127.0.0.1:6389/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6389/0
