services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
      - REDIS_LOCATION=redis://redis:6379/1
    env_file:
      - .env
    depends_on:
      - redis

  api:
    build:
      context: ./go-api
    ports:
      - "8080:8080"
    environment:
      - REDIS_ADDR=redis:6379
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
